body {
  background: rgb(255, 218, 167);
}

.topnav {
  padding: 0;
}

/* Keeping to potentially alter logo candidates */

#logo {
  /* width: 25%; */
  height: 40px;
  margin-right: 10px;
}

/* .nav-item {
  font-weight: bold;
} */

#header {
  margin-top: 6px;
  padding-right: 10px;
}
