body {
  background: rgb(255, 218, 167);
  /* ffdaa7 background color code*/
}

.topnav {
  padding: 0;
}

.nav-item {
  font-size: 1.2em;
}

#logo {
  /* width: 25%; */
  height: 40px;
  margin-right: 10px;
}

#header {
  margin-top: 7px;
  padding-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer-logo {
  height: 40px;
  margin: 10px 10px;
}

.btn {
  color: rgb(255, 255, 255);
  background: #314d36; /* logo color */
  border: rgb(255, 218, 167);
}

.btn:hover {
  color: #314d36;
  background: rgb(255, 218, 167);
  border-color: #314d36;
  border: 2px;
}

.btn:focus {
  color: #314d36;
  background: rgb(255, 218, 167);
  border-color: #314d36;
  border: 2px;
}

#web-button {
  margin: 0 auto;
}

.small {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.card-box {
  background-color: rgb(252, 237, 215);
}

.project-image {
  height: 100%;
  width: 100%;
}
