body {
  background: rgb(255, 218, 167);
  /* ffdaa7 background color code*/
}

.topnav {
  padding: 0;
}

.nav-item {
  font-size: 1.2em;
}

#logo {
  /* width: 25%; */
  height: 40px;
  margin-right: 10px;
}

#header {
  margin-top: 7px;
  padding-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

#github {
  height: 40px;
}

.small {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
